<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <div class="green">
        <header class="header-font">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    @Html.ActionLink(" ", "Index", "Home", new { }, new { @class = "img-link" })
                    <span class="navbar-toggler-icon"></span>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item"> @Html.ActionLink("ABOUT US", "AboutIndex", "AboutUs") </li>
                            <li class="nav-item"> @Html.ActionLink("OUR SERVICES", "OurServicesIndex", "OurServices") </li>
                            <li class="nav-item"> @Html.ActionLink("TEAM ", "IndexTeam", "Team") </li>
                            <li class="nav-item"> @Html.ActionLink("PRICES ", "PricesIndex", "Prices") </li>
                            <li class="nav-item"> @Html.ActionLink("APPOINTMENTS", "Index", "Calendar") </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="white">
        <div class="center-container">
            <div class="my-box">
                <h2>Welcome To Dare To Smile In Cluj, Your Trusted Family Dental Practice Since 2020</h2>
                <p>
                    We specialise in high-quality cosmetic and general dentistry, all delivered with professionalism and a warm, family-friendly approach. Our mission is to provide you with the latest in dental care, ensuring your oral health is in great hands.
                    Join us at Dare To Smile to experience modern dentistry with a friendly touch that has been a part of Cluj since 2020.
                </p>
            </div>
        </div>
    </div>
    <div class="grey">
        <h2 class="elementor-heading-title elementor-size-default"> Why choose Dare To Smile</h2>
        <div class="container">
            <div class="text-and-buttons">
                <p></p>
                <button class="custom-button">
                    Family Friendly
                    <span class="iconSpace">
                        <i class="fa-solid fa-arrow-down" onclick="toggleText()"></i>
                    </span>
                </button>
                <div id="hiddenText" class="hidden">
                    The key to children having a lifetime of great dental care is for them to have trust in their dentist. Our kind, caring dentists will take the time to make sure your child is comfortable and at ease during their visit to the practice.
                </div>
                <p></p>
                <button class="custom-button">
                    Free Smile Consultation
                    <span class="iconSpace1">
                        <i class="fa-solid fa-arrow-down" onclick="toggleText1()"></i>
                    </span>
                </button>
                <div id="hiddenText1" class="hidden">
                    If your looking for a new smile, or would like to know more about the private treatments we offer, we can give you the opportunity to visit the practice, meet the team and discuss your treatment needs with a free consultation.
                </div>
                <p></p>
                <button class="custom-button">
                    Financing Available
                    <span class="iconSpace2">
                        <i class="fa-solid fa-arrow-down" onclick="toggleText2()"></i>
                    </span>
                </button>
                <div id="hiddenText2" class="hidden">
                    Dental Finance is the easy, cost effective way to give you the freedom to spread payments, so you can start smiling now and pay later. We offer our patients monthly payment options that makes the cost of the dental treatment affordable.
                </div>
            </div>
            <div class="padImage">
                <img src="~/images/smiles.jpeg">
            </div>
        </div>
    </div>
    <div class="mainContent">
        <div class="text-and-image">
            <div class="text">
                <h2 class="generalHead">Contact Us</h2>
                <p class="generalText"> To connect with our team for scheduling or cancelling appointments, or to inquire as a new or returning patient, please reach out to us.
            </div>
            <div class="dataSection">
                <section id="contact">
                    <div>
                        @Html.Partial("_ContactForm")
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="final">
        <div class="containerfooter">
            <div class="dimension">
                <p class="dimensionParagraph">Dare To Smile</p>
                <p>
                    We aim to deliver consistently high quality NHS and private dental care, in a friendly and modern environment.
                </p>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="containercenter">
                <p class="secondContainer">
                    Menu
                <p></p>
                @Html.ActionLink("Services", "OurServicesIndex", "OurServices")
                <p></p>
                @Html.ActionLink("Prices ", "PricesIndex", "Prices")
                <p></p>
                @Html.ActionLink("Appointments", "CalendarIndex", "Calendar")
            </div>
            <div class="containerleft">
                <p class="secondContainer">
                    Contact
                <p></p>
                020 8653 3535
                <p></p>
                66 Sannicoara, Apahida, Cluj, Romania
                <p></p>
            </div>

        </div>
    </div>
    <div class="container-final">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="divfooter">
        <a class="space" asp-area="" asp-controller="Home" asp-action="Privacy">@Html.ActionLink("Complaints Procedure", "ComplaintsProcedureIndex", "ComplaintsProcedure")</a>
        <a class="space" asp-area="" asp-controller="Home" asp-action="Privacy">@Html.ActionLink("Copyright (C) All Rights Reserved – Web Design by Anda Baba", "Index", "Home")</a>
        <a class="space" asp-area="" asp-controller="Home" asp-action="Privacy">@Html.ActionLink("Privacy Policy", "PrivacyIndex", "Privacy")</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

